/* ======= CSS VARIABLES ======= */

:root {
  /* Colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --green: #c4f82a;
  --white: #ffffff;

  /* Typography */
  --font-primary: 'inter', sans-serif;
  --font-size-lg: 24px;
  --font-size-md: 14px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Spacing */
  --space-xl: 40px;
  --space-lg: 24px;
  --space-md: 16px;
  --space-sm: 12px;
  --space-xs: 8px;
  --space-xxs: 4px;
}

/* ======= GLOBAL STYLES======= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--grey-900);
  color: var(--white);
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background-color: var(--grey-800);
  max-width: 384px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  padding: var(--space-xl);
}

@media (max-width: 500px) {
  .card {
    padding: var(--space-lg);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.card-img-container {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: 150%;
  color: var(--white);
}

.card-title p {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: 150%;
  color: var(--green);
}

.card-bio {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 150%;
  color: var(--white);
}

.card-links {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}

.card-links a {
  display: block;
  text-align: center;
  border-radius: 8px;
  background-color: var(--grey-700);
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  padding: var(--space-sm);
  width: 100%;
  transition: background 0.3s ease-in-out;
}
